@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body { font-family: 'Inter', sans-serif; scroll-behavior: smooth; }

/* Product Card Effects */
.product-card {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product-card:hover {
    transform: translateY(-10px);
}

/* For image loading backup */
img {
    background-color: #f9f9f9;
}
